*{
  font-family: 'Poppins', sans-serif !important;
}

select{
  width: 100px ;
}

.map{
  display:  flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

g :is(path, rect):hover{
  fill: aqua;
}

g :is(path, rect){
  transition: fill .5s;
}

