* {
   font-family: 'Poppins', sans-serif !important;
}

svg {
   width: 100%;
}

.react-transform-wrapper {
   width: 100% !important;
   height: auto;
}

.react-transform-component {
   width: 100% !important;
   height: auto;
}

.map-wrapper {
   padding: 20px 200px;
}

.map-section {
   margin: 10px;
   padding: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 550px;
}

.selector {
   margin-top: 10px;
   display: flex;
   gap: 20px;
}

.map-wrapper {
   width: 100% !important;
   display: flex;
   flex-direction: column;
}


svg g :is(path, rect):hover {
   fill: aqua;
}

g :is(path, rect) {
   transition: fill .5s;
}

@media screen and (max-width: 850px) {

   .map-wrapper {
      padding: 20px 0;
   }
}