* {
   font-family: 'Poppins', sans-serif !important;
}
svg{
   width: 100%;
}

.react-transform-wrapper{
   width: 100% !important;
   height: auto;
}

.react-transform-component{
   width: 100% !important;
   height: auto;
}

.map-section{
   background-color: lightgray;
   margin: 10px;
   padding: 0px;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 750px;
}

.selector{
   margin-top: 10px;
   display:  flex;
   gap: 20px;
}

.map-wrapper{
   width: 100% !important;
   display: flex;
   flex-direction: column;
}


svg g :is(path, rect):hover {
   fill: aqua;
}

g :is(path, rect) {
   transition: fill .5s;
}